body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 20px;
}

h1 {
    font-size: 58px;
    text-align: center;
    margin-top: 25px;
    color: #000000;
}

h2 {
    font-size: 28px;
    margin-top: 18px;
}

hr {
    margin: 20px 0;
}

.header {
    background-color: #8ba5be;
    padding: 20px 0;
    text-align: center;
}

.container {
    padding: 0 15%;
}

.header nav a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-size: 22px;
    display: inline-block;
    transition: transform 0.15s ease;
}

.header nav a:hover {
    transform: scale(1.1);
    color: rgb(0, 59, 131)
}
