body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 20px;
}

h1 {
    font-size: 58px;
    text-align: center;
    margin-top: 25px;
    color: #000000;
}

h2 {
    font-size: 28px;
    margin-top: 18px;
}

hr {
    margin: 20px 0;
}

.header {
    background-color: #8ba5be;
    padding: 20px 0;
    text-align: center;
}

.container {
    flex: 1; /* allow main content to grow and push footer to the bottom */
    padding: 0 15%;
}

.header nav a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-size: 22px;
    display: inline-block;
    transition: transform 0.15s ease;
}

.header nav a:hover {
    transform: scale(1.1);
    color: rgb(0, 59, 131)
}

html, body {
    height: 100%;
    margin: 0;
}

.footer {
    background-color: #8ba5be;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    margin-top: auto;
}

.social-links a {
    color: black;
    font-size: 26px;
    margin: 0 10px;
    text-decoration: none;
    transition: transform 0.2s ease;
    display: inline-block;
}

.social-links a:hover {
    transform: scale(1.2);
    color: rgb(0, 59, 131);
}
